/*This container includes the headers, canvas, and table*/
.center-container{
    width: 608px; /*This property sets the width of the container*/
    margin: 0 auto;/*This property centers the container*/
    margin-top: 50px;/*This property puts the container 50px from the top*/
}

table {
    border-collapse: collapse; /*This property collapses the borders into 1 border*/
    border-style: hidden;/*This hides the outer border of the table*/
}

td {
    cursor: pointer;/*This changes the cursor to a pointer finger when the cursor hovers over a td element*/
    border: 4px solid rgba(230, 41, 41, 0.8); /*This property sets the style for the border*/
    padding: 0px;   /*This takes away the default padding*/
    width: 200px;
    height: 200px;
}

canvas {
    position: absolute; /*This property sets the position of the canvas to the top left corner of the container*/
    z-index: 10;/*This property places our canvas on top of the table*/
    pointer-events: none;/*This property makes the canvas invisible*/
}


h1, h3 {
    text-align: center; /*This property centers the text*/
    color: rgba(228, 48, 48, 0.8);  /*This property sets the color of the text*/
    font-size: 35px;    /*This property sets the size of the text*/
    font-family: Georgia, 'Times New Roman', Times, serif;  /*This property sets the font of the text*/
}

h3{
    font-size: 20px;/*This property overides the top font-size so that the h3 elements is a smaller size*/
}